In [1]:
import pandas as pd

In [2]:
import h5py
traffic = 'C:/Users/janfd\Documents/bt_traffic_prediction/Data/METR-LA, PEMS-BAY/pems-bay.h5'
weather = 'C:/Users/janfd\Documents/bt_traffic_prediction/Data/METR-LA, PEMS-BAY/Weather Oakland.xlsx'
df_traffic = pd.read_hdf(traffic)
df_weather = pd.read_excel(weather)

In [3]:
df_traffic.apply(pd.value_counts)

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
0.0,1.0,NaN,NaN,2.0,NaN,1.0,2.0,2.0,2.0,NaN,...,2.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0
3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.1,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.2,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_traffic.size

16937700

In [6]:
df_traffic.shape

(52116, 325)

In [16]:
df_traffic = df_traffic.replace(to_replace= 0.0, method='ffill')

In [17]:
df_traffic.apply(pd.value_counts)

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.1,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.2,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.4,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_traffic.loc[df_traffic[400052] == 0.0]

Empty DataFrame
Columns: [400001, 400017, 400030, 400040, 400045, 400052, 400057, 400059, 400065, 400069, 400073, 400084, 400085, 400088, 400096, 400097, 400100, 400104, 400109, 400122, 400147, 400148, 400149, 400158, 400160, 400168, 400172, 400174, 400178, 400185, 400201, 400206, 400209, 400213, 400221, 400222, 400227, 400236, 400238, 400240, 400246, 400253, 400257, 400258, 400268, 400274, 400278, 400280, 400292, 400296, 400298, 400330, 400336, 400343, 400353, 400372, 400394, 400400, 400414, 400418, 400429, 400435, 400436, 400440, 400449, 400457, 400461, 400464, 400479, 400485, 400499, 400507, 400508, 400514, 400519, 400528, 400545, 400560, 400563, 400567, 400581, 400582, 400586, 400637, 400643, 400648, 400649, 400654, 400664, 400665, 400668, 400673, 400677, 400687, 400688, 400690, 400700, 400709, 400713, 400714, ...]
Index: []

[0 rows x 325 columns]

In [24]:
df_traffic.to_hdf('pems-bay_no_zeros.h5', 'C:/Users/janfd\Documents/bt_traffic_prediction/Data/METR-LA, PEMS-BAY')

In [33]:
df_traffic.apply(pd.value_counts)

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.1,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.2,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.4,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df_weather = df_weather.drop(['max Wind m/s', 'Max Temp', 'Min Temp'], axis=1)

In [62]:
traffic_test = df_traffic

In [64]:
traffic_test.index.difference(pd.date_range(start='2017-01-01', end='2017-06-30', freq='5min'))

Index(['2017-01-01 00:00:00', '2017-01-01 00:05:00', '2017-01-01 00:10:00',
       '2017-01-01 00:15:00', '2017-01-01 00:20:00', '2017-01-01 00:25:00',
       '2017-01-01 00:30:00', '2017-01-01 00:35:00', '2017-01-01 00:40:00',
       '2017-01-01 00:45:00',
       ...
       '2017-06-30 23:10:00', '2017-06-30 23:15:00', '2017-06-30 23:20:00',
       '2017-06-30 23:25:00', '2017-06-30 23:30:00', '2017-06-30 23:35:00',
       '2017-06-30 23:40:00', '2017-06-30 23:45:00', '2017-06-30 23:50:00',
       '2017-06-30 23:55:00'],
      dtype='object', length=52116)

In [69]:
traffic_test.shape
df_weather.shape

(181, 3)

In [73]:
test_weather = pd.concat([df_weather]*12*24, ignore_index=True)
test_weather.shape
test_weather.sort_values(by=['Date'])

            Date  Mean Temp  Tot Precip mm
0     2017-01-01        6.0           0.00
5249  2017-01-01        6.0           0.00
3258  2017-01-01        6.0           0.00
19729 2017-01-01        6.0           0.00
28055 2017-01-01        6.0           0.00
...          ...        ...            ...
34751 2017-06-30       12.7           0.25
34932 2017-06-30       12.7           0.25
35113 2017-06-30       12.7           0.25
34027 2017-06-30       12.7           0.25
52127 2017-06-30       12.7           0.25

[52128 rows x 3 columns]

In [75]:
test_weather.reindex

<bound method DataFrame.reindex of             Date  Mean Temp  Tot Precip mm
0     2017-01-01        6.0           0.00
1     2017-01-02        5.0           1.52
2     2017-01-03        7.4          25.15
3     2017-01-04        7.9          29.97
4     2017-01-05        4.1           0.25
...          ...        ...            ...
52123 2017-06-26       14.8           0.00
52124 2017-06-27       13.4           0.00
52125 2017-06-28       13.0           0.00
52126 2017-06-29       13.4           0.00
52127 2017-06-30       12.7           0.25

[52128 rows x 3 columns]>

In [91]:
traffic_test['Date'] = pd.date_range(start='2017-01-01', end='2017-06-30 22:55:00', freq='5min')

In [90]:
insert = traffic_test.loc['2017-03-12 01:55:00']

In [92]:
insert = pd.concat([insert]*12)

In [96]:
df_traffic.to_hdf('pems-bay_no_zeros.h5', key='df', mode='w')

In [107]:
filler = pd.DataFrame(index=pd.date_range(start='2017-03-12 02:00:00', end='2017-03-12 02:55:00', freq='5min'), columns=traffic_test.columns)
filler = filler.fillna(0)